body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-image: url("/images/img.svg");
  background-repeat: no-repeat;
  background-position: 298px -22px;
  background-size: 1430px 871px;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navigation {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 310px;
  padding-left: 56px;
}

.logo__header {
  margin-right: 50px;
  padding: 20px 0 30px 0;
  width: 231px;
}

.logo__text {
  padding-bottom: 10px;
}

.menu {
  display: flex;
  gap: 50px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.menu__item:hover {
  border-bottom: 2px solid #000000;
  /* padding-top: 10px; */
  /* background-image: url("/images/vector-nav.svg"); */
}

.promo {
  margin-bottom: 103px;
  position: relative;
}

.promo__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  color: #000000;
  position: relative;
  margin-bottom: 38px;
  max-width: 668px;
}

.promo__desk {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 80px;
}

.promo__title::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 46px;
  left: -12px;
  z-index: -1;
}

.promo__footer {
  font-family: "Poppins";
  align-items: center;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.buttom {
  padding: 14px 46px;
  background: #ecb942;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-size: 18px;
}

.buttom_margin {
  margin-right: 45px;
}

.promo__link {
  margin-right: 10px;
}
.promo__arrow {
  padding-top: 10px;
}

.number-books {
  position: absolute;
  font-weight: 400;
  top: 282px;
  right: 242px;
}

.number-books h2 {
  font-size: 48px;
  line-height: 59px;
  position: relative;
}
.number-books h2::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  z-index: -1;
  top: -13px;
  right: 2px;
  background-color: #ecb942;
}

.number-books p {
  font-size: 16px;
  line-height: 20px;
}

/* СЕКЦИЯ ABOUT  */
.about {
  margin-top: 45px;
  margin-bottom: 94px;
}
.about-columns {
  display: flex;
  justify-content: flex-start;
  gap: 72px;
}

.about-columns__item {
  align-items: center;
  text-align: center;
  position: relative;
}

.about-columns__item_background::after {
  content: "";
  position: absolute;
  width: 405px;
  height: 246px;
  background-image: url("/images/nav/frame.svg");
  top: 136px;
  left: -50px;
  z-index: -1;
}

.about-columns a {
  text-decoration: underline;
  font-weight: 600;
}

.about-columns__item h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 29px;
  max-width: 357px;
}

.about-columns__item img {
  margin-bottom: 19px;
  height: 82px;
}

.text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.text_padding-small {
  padding-right: 7px;
  padding-left: 7px;
}

.text_padding-big {
  padding-left: 50px;
  padding-right: 50px;
}

/* СЕКЦИЯ WORK */

.work {
  margin-bottom: 45px;
  font-family: "Montserrat";
  margin-bottom: 55px;
}

.work-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 96px;
  position: relative;
}

.work-info__img {
  position: absolute;
  width: 814px;
  height: 643px;
  left: -164px;
  top: 32px;
}
.work-info__text {
  max-width: 485px;
  right: 0px;
  text-align: center;
  position: relative;
}

.title_work {
  margin-bottom: 42px;
  padding-left: 26px;
}

.title_work::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 33px;
  left: 151px;
  z-index: -1;
}

.work-info__lead {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  padding-left: 57px;
  margin-bottom: 40px;
}
.work-info__lead p {
  max-width: 357px;
  padding-right: 50px;
}

.work-info__lead img {
  width: 43px;
  height: 51px;
}

.text_left {
  font-family: "Montserrat";
  text-align: left;
  margin-bottom: 70px;
  margin-top: 55px;
  padding-left: 57px;
  padding-right: 5px;
}

/* СЕКЦИЯ MISSION */
.mission {
  margin-top: 120px;
}
.mission-block {
  display: flex;
  margin-bottom: 45px;
}

.mission-plan {
  margin-right: 65px;
}

.title_mission {
  text-align: center;
  margin-bottom: 7px;
  position: relative;
}

.title_mission::after {
  content: "";
  position: absolute;
  background-image: url("/images/mission/vector.png");
  /* width: 243px; */
  height: 32px;
  top: 26px;
  left: 59px;
  z-index: -1;
}

.mission-plan__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 647px;
}

.mission-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.mission-items__title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
  position: relative;
}

.mission-items__title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: -1;
  top: -6px;
}
.mission-items__title_green::after {
  background-color: #97bc59;
  right: 157px;
}

.mission-items__title_yellow::after {
  background-color: #ecb942;
  right: 186px;
}

.mission-items__title_blue::after {
  background-color: #b0cef1;
  right: 179px;
}

.mission-items__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
  max-width: 500px;
  padding-right: 5px;
}

.mission-items p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

/* СЕКЦИЯ pertners */
.pertners {
  margin-bottom: 92px;
  position: relative;
}

.pertners h2 {
  text-align: center;
  margin: 74px 0 54px 0;
}

.pertners__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.pertners::after {
  content: "";
  position: absolute;
  background-image: url("/images/partners/Vector.svg");
  width: 305px;
  height: 130px;
  top: 97px;
  right: 365px;
  z-index: -1;
}

/* СЕКЦИЯ FORMS */

.forms {
  padding-top: 110px;
  margin-bottom: 45px;
  position: relative;
}

.group__img {
  position: absolute;
}

.group-img_yellow-1 {
  top: -2px;
  left: -60px;
}

.group-img_yellow-2 {
  top: 195px;
  right: -71px;
}

.group-img_green-1 {
  top: 104px;
  left: -46px;
  opacity: 0.8;
}

.group-img_green-2 {
  top: 299px;
  right: -84px;
  opacity: 0.8;
}

.forms::after {
  content: "";
  background-image: url("/images/forms/Group2.svg") 0px 1262px;
  width: 363px;
  height: 250px;
  z-index: -1;
}

.forms__inner {
  display: flex;
  align-items: center;
}

.forms__info {
  text-align: center;
  display: inline-block;
  height: 417px;
  background-image: url("/images/forms/decor.png");
  opacity: 0.9;
  color: #fff;
}

.forms__info h2 {
  padding-top: 40px;
  padding-bottom: 15px;
  max-width: 560px;
  display: inline-block;
}

.forms__info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 54px;
  padding-left: 90px;
  padding-right: 90px;
}

.forms__info a {
  color: #000000;
}

/* СЕКЦИЯ FOOTER   */
.footer {
  margin-bottom: 64px;
}

.contacts {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}

.nunmber-phone__items {
  list-style: none;
  justify-content: flex-start;
}

.nunmber-phone__items-title {
  padding-bottom: 15px;
}

.nunmber-phone__items-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social {
  margin-right: 87px;
}

.social-list {
  list-style: none;
  text-align: center;
}

.social-list_icon {
  display: flex;
  gap: 8px;
  margin-top: 27px;
}

.copirater {
  display: block;
  text-align: center;
}

.logo_footer {
  margin-top: 70px;
  margin-bottom: 52px;
}

.copirater__items p {
  font-size: 14px;
  line-height: 17px;
  margin-top: 50px;
}
