body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-image: url("/images/img.svg");
  background-repeat: no-repeat;
  background-position: 298px -22px;
  background-size: 1452px 856px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  margin-bottom: 310px;
}

.navigation {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 56px;
  gap: 40px;
}

.logo {
  display: flex;
  width: 231px;
}

.logo_header {
  justify-content: flex-start;

}

.menu {
  display: flex;
  gap: 50px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 16px;
}

.menu__item:hover {
  text-decoration: underline;
  /* border-bottom: 2px solid #000000; */
  /* padding-top: 10px; */
  background-image: url("/images/vector-nav.svg");
}

/* СЕКЦИЯ  PROMO */

.promo {
  padding-bottom: 103px;
  position: relative;
}

.promo__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 38px;
  max-width: 668px;
  position: relative;
}

.promo__desk {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.promo__title::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 46px;
  left: -12px;
  z-index: -1;
}

.promo__footer {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 100px;
  gap: 47px;
}

.button {
  padding: 14px 46px;
  background: #ecb942;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-size: 18px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link__arrow {
  width: 18px;
  height: 18px;
}

.promo__books {
  position: absolute;
  font-weight: 400;
  top: 282px;
  right: 230px;
}

.promo__books h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  position: relative;
}
.promo__books h2::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  z-index: -1;
  top: -13px;
  right: 2px;
  background-color: #ecb942;
}

.promo__books p {
  font-size: 16px;
  line-height: 20px;
}

/* СЕКЦИЯ ABOUT  */
.about {
  margin-top: 45px;
  margin-bottom: 45px;
}

.about-columns {
  display: flex;
  gap: 100px;
  padding-bottom: 70px;
}

.about-columns__item {
  text-align: center;
  position: relative;
}

.about-columns a {
  text-decoration: underline;
  font-weight: 600;
}

.about-columns__item h3 {
  font-weight: 400;
  font-size: 33px;
  line-height: 44px;
  margin-bottom: 29px;
  max-width: 357px;
}

.about-columns__item img {
  margin-bottom: 19px;
  height: 82px;
}

.about-columns__item p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.about-columns__item-text {
  padding-left: 50px;
  padding-right: 50px;
}

.about-columns__item_background::after {
  content: "";
  position: absolute;
  width: 405px;
  height: 246px;
  background-image: url("/images/nav/frame.svg");
  top: 136px;
  left: -50px;
  z-index: -1;
}

/* СЕКЦИЯ WORK */

.work {
  margin-bottom: 45px;
  font-family: "Montserrat";
  margin-bottom: 55px;
  padding-top: 96px;
  position: relative;
}

.work-info::after {
  content: "";
  background-image: url("/images/work/img.jpg");
  position: absolute;
  width: 814px;
  height: 643px;
  left: -60px;
  top: 32px;
  z-index: 3;
}

.work-info {
  display: flex;
  justify-content: flex-end;
}

.work-info__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-info__title {
  margin-bottom: 42px;
  /* padding-left: 26px; */
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.title_work::after {
  content: "";
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 33px;
  left: 151px;
  z-index: -1;
}

.work-info__lead {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
  position: relative;
}

.work-info__lead-trew::before {
  content: "";
  position: absolute;
  background-image: url("/images/work/trew.svg");
  width: 43px;
  height: 50px;
  top: 0px;
  left: -71px;
}
/* можно ли здесь обойтись без дублтрования кода? */
.work-info__lead-book::after {
  content: "";
  position: absolute;
  background-image: url("/images/work/book.svg");
  width: 49px;
  height: 37px;
  top: 23px;
  left: -71px;
}

.work-info__lead img {
  width: 43px;
  height: 51px;
}

.desc {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.work-info__desc {
  max-width: 426px;
  margin-top: 25px;
}
.work-info__button {
  margin: 70px 114px;
}

/* СЕКЦИЯ MISSION */

.mission {
}
.mission-block {
  display: flex;
  gap: 65px;
  border-bottom: 1px solid #E5E5E5;
}

.mission-plan {
  max-width: 454px;
}

.title__mission {
  text-align: center;
  margin-bottom: 7px;
  position: relative;
}

.title__mission::after {
  content: "";
  position: absolute;
  background-image: url("/images/mission/vector.png");
  width: 243px;
  height: 32px;
  top: 26px;
  left: 59px;
  z-index: -1;
}

.mission-plan__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.mission-items {
  display: block;
  margin-bottom: 45px;
  /* max-width: 270px; */
}

.mission-items__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 8px;
  margin-left: 21px;
  position: relative;
}

.mission-items__title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: -1;
  top: -6px;
  right: 215px;
}
.mission-items__title_green::after {
  background-color: #97bc59;
}

.mission-items__title_green::before {
  content: "";
  background-image: url("/images/mission/40.png");
  width: 405px;
  height: 16px;
  position: absolute;
  top: 40px;
  left: 185px;
}


.mission-items__title_yellow::after {
  background-color: #ecb942;
}

.mission-items__title_yellow::before {
  content: "";
  background-image: url("/images/mission/50.png");
  width: 405px;
  height: 16px;
  position: absolute;
  top: 40px;
  left: 185px;
}

.mission-items__title_blue::after {
  background-color: #b0cef1;
}

.mission-items__title_blue::before {
  content: "";
  background-image: url("/images/mission/30.png");
  width: 405px;
  height: 16px;
  position: absolute;
  top: 40px;
  left: 185px;
}

/* СЕКЦИЯ pertners */

.pertners {
  margin-bottom: 92px;
  position: relative;
}

.pertners__title {
  text-align: center;
  margin: 74px 0 54px 0;
}

.pertners__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.pertners::after {
  content: "";
  position: absolute;
  background-image: url("/images/partners/Vector.svg");
  width: 305px;
  height: 130px;
  top: 97px;
  right: 365px;
  z-index: -1;
}

/* СЕКЦИЯ FORMS */

.forms {
  padding-top: 110px;
  margin-bottom: 45px;
  position: relative;
}
.forms::after {
  content: "";
  background-image: url("/images/forms/decor.svg");
  width: 1490px;
  height: 541px;
  position: absolute;
  top: 0px;
  right: -95px;
  z-index: -3;
}

.forms__info {
  text-align: center;
  height: 415px;
  background-image: url("/images/forms/decor.png"), url("/images/forms/img.png");
  color: #fff;
}
/* тут не знаю, как задать картинке прозрачность, могу чере opacity, но опасити применяется
всему блоку forms__info */

.forms__title {
  padding-top: 40px;
  padding-bottom: 15px;
  max-width: 560px;
  display: inline-block;
}

.forms__desc {
  padding: 0px 90px 54px;
}

.button_forms {
  color: #000000;
}

/* СЕКЦИЯ FOOTER   */

.contacts {
  padding-top: 30px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}
.nunmber-phone {
text-align: center;
}

.nunmber-phone__text{
padding-bottom: 35px;
}
.nunmber-phone__item {
  position: relative;
}
.nunmber-phone__item::before {
  content: "";
  position: absolute;
  background-image: url("/images/footer/social.svg");
  width: 44px;
  height: 45px;
  top: -13px;
  left: -55px;
}

.social {
  margin-right: 87px;
}

.social-list {
  list-style: none;
  text-align: center;
}

.social-list_icon {
  display: flex;
  gap: 8px;
  padding-top: 27px;
}

.copirater {
  display: block;
  text-align: center;
}

.copirater__items {
  padding: 67px 0px;
}


.copirater__items p {
  font-size: 14px;
  line-height: 17px;
  margin-top: 48px;

}
