body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-image: url("/images/img.svg");
  background-repeat: no-repeat;
  background-position: 298px -22px;
  background-size: 1430px 871px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navigation {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 310px;
  padding-left: 56px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 40px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  position: relative;
}


.menu__item:hover {
border-bottom: 1.5px solid #000000 ;
}


.test {
  margin: 0 16px;
}

.logo-header {
  margin-right: 50px;
  padding: 20px 0 30px 0;
  width: 231px;
}

.logo-text {
  padding-bottom: 10px;
}

.materics-photo {
  position: relative;
}

.promo {
  max-width: 668px;
  margin-bottom: 90px;
  
}
.promo__title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  color: #000000;
  margin-bottom: 38px;
  position: relative;
  z-index: 20;
}

.promo p {
  margin-bottom: 80px;
}


.promo__title::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 46px;
  left: -12px;
  z-index: -1;

}

/* .materics-photo {
    position: absolute;
    width: 1430px;
    height: 871.32px;
    left: 135px;
  } */

.promo  {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 80px;
}

.promo-footer {
  align-items: center;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.promo-footer_buttom {
  padding: 14px 46px;
  background: #ecb942;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-size: 18px;
}

.promo-footer_buttom__main {
  margin-right: 45px;
}

.promo-footer_link {
  margin-right: 10px;
}

/* СЕКЦИЯ ABOUT  */

.about-row {
  display: flex;
  gap: 72px;
  justify-content: flex-start;
  margin-bottom: 45px;
}

.about-row a {
  text-decoration: underline;
  font-weight: 600;
}

.about-row_block {
  align-items: center;
  text-align: center;
  /* max-width: 245px; */
  position: relative;
}

.about-row_block__back-img::after {
  content: "";
  position: absolute;
  width: 405px;
  height: 246px;
  background-image: url("/images/nav/frame.svg");
  top: 136px;
    left: -50px;
  z-index: -1;
}

.about-row_block img {
  margin-bottom: 19px;
  height: 82px;
}

.about-row_block p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  
}
.about-row_block_mod1 {
  padding-right: 7px;
  padding-left: 7px;
}

.about-row_block_mod {
  padding-left: 50px;
  padding-right: 50px;
}

.about-row_block h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;

  margin-bottom: 29px;
}

/* СЕКЦИЯ WORK */

.work-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 96px;
  position: relative;
}

.work {
  /* position: relative; */
  margin-bottom: 45px;
  font-family: "Montserrat";
  margin-bottom: 55px;
}

.work-info__img {
  position: absolute;
  width: 814px;
  height: 643px;
  left: -164px;
  top: 32px;
}
.work-info__text {
  max-width: 485px;
  right: 0px;
  text-align: center;
  position: relative;
}

.work-info__text_title::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 32px;
  background-image: url("/images/back/Vector.svg");
  top: 33px;
  left: 151px;
  z-index: -1;
}

.work-info__text h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 42px;
}

.work-info__text-paragraph {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
  /* white-space: normal; */
  max-width: 357px;
}

.work-info__text-paragraph img {
  width: 43px;
  height: 51px;
}

.work-info__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 426px;
  text-align: left;
}

.paragraph__modification {
  margin-bottom: 55px;
  margin-top: 55px;
}

/* СЕКЦИЯ MISSION */

.mission-block {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 45px;
}

.items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.mission-block__plans h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}

.mission-block__plans {
  margin-right: 37px;
}

.items__title {
  font-size: 36px;
  line-height: 44px;
  /* margin-left: 17px; */
  margin-bottom: 8px;
  position: relative;
}

.backgroung-circle::after {
  content: "";
  width: 56px;
  height: 56px;
  background-color: #97BC59;
  border-radius: 50%;
  position: absolute;
z-index: -1;
top: -6px;

}
.backgroung-circle__green::after {
  right: 150px;
}

.backgroung-circle__yellow::after {
  background-color: #ECB942;
  right: 202px;

}

.backgroung-circle__blue::after {
  background-color: #B0CEF1;
  right: 202px;

}

.items__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
  max-width: 500px;
  padding-right: 5px;
}

.items p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}


/* СЕКЦИЯ pertners */
.pertners {
  margin-bottom: 92px;
  position: relative;
  
}

.pertners h2 {
  text-align: center;
  margin: 74px 0 54px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.pertners__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.pertners::after {
  content: "";
  position: absolute;
  background-image: url("/images/partners/Vector.svg");
  width: 305px;
  height: 130px;
  top: 97px;
  right: 703px;
  z-index: -1;
}

.pertners__blocks img {
}

/* СЕКЦИЯ FORMS */
.forms {
  padding-top: 110px;
  margin-bottom: 45px;
  position: relative;
}
.group__img {
  position: absolute;
}

.group-img_yellow-1 {
  top: -2px;
  left: 266px;
}

.group-img_yellow-2 {
  top: 195px;
    right: 257px;
}

.group-img_green-1 {
  top: 104px;
  left: 293px;
  opacity: 0.8;
  
}

.group-img_green-2 {
  top: 299px;
  right: 255px;
  opacity: 0.8;
}


.forms::after {
  content: "";
  background-image: url("/images/forms/Group2.svg") 0px 1262px;
  width: 363px;
  height: 250px;
  /* top: 0px;
  right: 1262px; */
  z-index: -1;
}
.forms__inner {
  display: flex;
  align-items: center;
}
.forms__text {
  color: #fff;
  text-align: center;
  display: inline-block;
  height: 417px;
  background-image: url("/images/forms/decor.png");
  /* background: #131313; */
  opacity: 0.9;
}

.forms__text h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  padding-top: 40px;
  padding-bottom: 15px;
  max-width: 560px;
  display: inline-block;

  
}

.forms__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 54px;
 padding-left: 90px;
 padding-right: 90px;
}

.forms__text a {
  color: #000000;
}


/* СЕКЦИЯ FOOTER   */
.footer {
margin-bottom: 64px;
}

.footer-contacts__block {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  margin-bottom: 45px;
}

.nunmber-phone__items {
  list-style: none;
  justify-content: flex-start;
}

.nunmber-phone__items-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 15px;
}

.nunmber-phone__items-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social {
  margin-right: 87px;
}

.social-list {
  list-style: none;
  text-align: center;
}

.social-icon {
  display: flex;
  gap: 8px;
  margin-top: 27px;
}

.logotip {
  display: block;
  text-align: center;
}

.logo-footer {
  margin-top: 70px;
  margin-bottom: 52px;
}

.logotip-blocks p {
  margin-top: 50px;
}
